<%
  const resolvedErrors = typeof errors !== 'undefined' && errors ? errors : null;
  const resolvedField = typeof field !== 'undefined' ? field : '';
  const fieldErrors = resolvedErrors && resolvedField ? resolvedErrors[resolvedField] : null;
  const fieldMessage = Array.isArray(fieldErrors) ? fieldErrors[0] : fieldErrors;
%>
<% if (fieldMessage) { %>
  <p class="mt-1 text-sm text-red-500"><%= fieldMessage %></p>
<% } %>
